@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <Blazor_Todo.Pages.Index></Blazor_Todo.Pages.Index>
            <p title="From Khan Faizan">Todo App</p>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
